* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

header .sezione_blu {
  background-color: #0282f9;
}

header .sezione_blu .container {
  color: white;
  font-size: 15px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .sezione_blu .container i {
  font-size: 12px;
}

header .sezione_blu .container span {
  margin-left: 40px;
  display: flex;
  align-items: center;
}

header .sezione_bianca {
  height: 150px;
}

header .sezione_bianca .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .sezione_bianca .container a {
  font-weight: 600;
  text-decoration: none;
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
}

header .sezione_bianca .container a i {
  color: #0282f9;
}

header .sezione_bianca .container > div {
  border-bottom: 2px solid #0282f9;
}

header .sezione_bianca .container > div input {
  border: 0;
  outline: 0;
}

header .sezione_bianca .container > div input::-moz-placeholder {
  color: black;
  font-weight: 600;
  font-size: 17px;
  padding-left: 60%;
}

header .sezione_bianca .container > div input:-ms-input-placeholder {
  color: black;
  font-weight: 600;
  font-size: 17px;
  padding-left: 60%;
}

header .sezione_bianca .container > div input::placeholder {
  color: black;
  font-weight: 600;
  font-size: 17px;
  padding-left: 60%;
}

header .sezione_bianca .container .active {
  color: #0282f9;
  position: relative;
}

header .sezione_bianca .container .active > div {
  background-color: #0282f9;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
}

header .jumbotron {
  height: 300px;
  /* background-image: url("../img/jumbotron.jpg"); */
}

header .jumbotron img {
  max-height: 300px;
  width: 100%;
}

footer .prima_sez_footer {
  height: 300px;
  /* background-image: url("../img/footer-bg.jpg"); */
  background-color: pink;
}

footer .prima_sez_footer .container {
  height: 100%;
  display: flex;
}

footer .prima_sez_footer .container > div {
  width: 50%;
  height: 100%;
}

footer .prima_sez_footer .container > div > div {
  display: flex;
  color: grey;
  font-size: 13px;
}

footer .prima_sez_footer .container > div > div > div {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

footer .prima_sez_footer .container > div > div > div h3 {
  color: white;
  margin: 10px 0;
}

footer .prima_sez_footer .container > div > div > div span {
  color: grey;
}

footer .prima_sez_footer .container > div > div:nth-child(2) {
  margin-top: 10px;
}

footer .prima_sez_footer .container > div > div:nth-child(2) > span > span {
  color: #0282f9;
}

footer .prima_sez_footer .container > div:nth-child(2) {
  /* background-image: url("../img/dc-logo-bg.png"); */
}

footer .seconda_sez_footer {
  background-color: #303030;
  height: 100px;
}

footer .seconda_sez_footer .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .seconda_sez_footer .container > div {
  display: flex;
  align-items: center;
}

footer .seconda_sez_footer .container > div img {
  margin-left: 15px;
}

footer .seconda_sez_footer .container > div span {
  font-size: 18px;
  font-weight: 600;
  color: #0282f9;
}

footer .seconda_sez_footer .container > a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  border: 2px solid #0282f9;
  padding: 13px 10px;
}

