footer {
    .prima_sez_footer {
        height: 300px;
        background-image: url("/../img/footer-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        .container {
            height: 100%;
            display: flex;
            > div:first-child {
                padding: 15px 0;
            }
            > div {
                width: 50%;
                height: 100%;
                > div {
                    display: flex;
                    color: grey;
                    font-size: 13px;
                    > div {
                        display: flex;
                        flex-direction: column;
                        margin-right: 20px;
                        h3 {
                            color: white;
                            margin: 10px 0;
                        }
                        span {
                            color: grey;
                        }
                    }
                }
                > div:nth-child(2) {
                    margin-top: 10px;
                    > span {
                        > span {
                            color: #0282f9;
                        }
                    }
                }
            }
            > div:nth-child(2) {
                background-image: url("/../img/dc-logo-bg.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 400px;
            }
        }
    }
    .seconda_sez_footer {
        background-color: #303030;
        height: 100px;
        .container {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            > div {
                display: flex;
                align-items: center;
                img {
                    margin-left: 15px;
                }
                span {
                    font-size: 18px;
                    font-weight: 600;
                    color: #0282f9;
                }
            }
            > a {
                color: white;
                font-size: 18px;
                text-decoration: none;
                border: 2px solid #0282f9;
                padding: 13px 10px;
            }
        }
    }
}
