header {
    .sezione_blu {
        background-color: #0282f9;
        .container {
            color: white;
            font-size: 15px;
            i {
                font-size: 12px;
            }
            padding: 10px 0;
            span {
                margin-left: 40px;
                display: flex;
                align-items: center;
            }
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
    .sezione_bianca {
        height: 150px;
        .container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
                font-weight: 600;
                text-decoration: none;
                color: black;
                height: 100%;
                display: flex;
                align-items: center;
                i {
                    color: #0282f9;
                }
            }
            > div {
                input {
                    border: 0;
                    outline: 0;
                }
                input::placeholder {
                    color: black;
                    font-weight: 600;
                    font-size: 17px;
                    padding-left: 60%;
                }
                border-bottom: 2px solid #0282f9;
            }
            .active {
                color: #0282f9;
                position: relative;
                > div {
                    background-color: #0282f9;
                    width: 100%;
                    height: 5px;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }
    .jumbotron {
        height: 300px;
        /* background-image: url("../img/jumbotron.jpg"); */
        img {
            max-height: 300px;
            width: 100%;
        }
    }
}
