.comics {
    background-color: black;
    color: white;
    .container {
        .current_series {
            background-color: #0282f9;
            padding: 15px 30px;
            display: inline-block;
            font-weight: 600;
            font-size: 20px;
            position: relative;
            transform: translateY(-50%);
        }
        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .card {
                width: 170px;
                margin: 10px 0;
                > a {
                    text-decoration: none;
                    color: white;
                    > div:first-child {
                        width: 170px;
                        height: 170px;
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                    }
                    > div:nth-child(2) {
                        margin-top: 10px;
                        font-size: 15px;
                        text-transform: uppercase;
                    }
                }
            }
        }
        > div:nth-child(3) {
            display: flex;
            justify-content: center;
            align-items: center;
            > span.load_more {
                background-color: #0282f9;
                padding: 10px 30px;
                font-size: 13px;
                margin: 13px 0;
            }
        }
    }
    .barra_blu {
        background-color: #0282f9;
        padding: 30px 0;
        .container {
            display: flex;
            align-items: center;
            justify-content: space-around;
            div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                img {
                    height: 40px;
                    margin-right: 10px;
                }
                span {
                    font-size: 12px;
                }
            }
        }
    }
}
