.container2 {
    width: 60%;
    margin: auto;
}

.sez_blu_comic {
    background-color: #0282f9;
    height: 70px;
    .container2 {
        > div {
            display: inline-block;
            position: relative;
            bottom: calc(291px - 45px);
            border: 1px solid white;
            .comic_book {
                position: absolute;
                top: 0;
                left: 0;
                text-align: center;
                color: white;
                background-color: #00a9dc;
                font-size: 13px;
                padding: 3px 6px;
            }
            .view_gallery {
                position: absolute;
                bottom: 0;
                width: 100%;
                text-align: center;
                color: white;
                background-color: #00a9dc;
                font-size: 13px;
                padding: 3px 0;
            }
        }
    }
}

.sez_bianca_comic {
    .container2 {
        position: relative;
        h2 {
            text-transform: uppercase;
            margin-top: 50px;
        }
        .sez_verde_prezzo {
            margin-top: 30px;
            display: flex;
            > div:first-child {
                display: flex;
                background-color: #55ba59;
                justify-content: space-between;
                align-items: center;
                width: 400px;
                border-right: 1px solid black;
                color: #a7f98f;
                padding: 15px 35px;
                > span {
                    > span {
                        color: white;
                    }
                }
            }
            > div:nth-child(2) {
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                background-color: #55ba59;
                padding: 15px 35px;
            }
        }
        .description {
            margin-top: 30px;
            font-size: 15px;
            width: 600px;
            margin-bottom: 50px;
        }
        .adv {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            img {
                width: 200px;
            }
            h5 {
                text-align: right;
                font-size: 12px;
            }
        }
    }
}

.sez_grigia_comic {
    background-color: #f6f6f6;
    padding: 30px 0 70px 0;
    .container2 {
        .talent_specs {
            display: flex;
            justify-content: space-between;
            > div {
                width: 45%;
                h3 {
                    margin-bottom: 20px;
                }
                > div {
                    border-top: 1px solid lightgray;
                    display: flex;
                    padding: 20px 0;
                    &:last-child {
                        border-bottom: 1px solid lightgray;
                    }
                    .series {
                        color: #00a9dc;
                        text-transform: uppercase;
                    }
                    > span {
                        font-size: 15px;
                    }
                    .first {
                        width: 250px;
                    }
                }
            }
        }
    }
}
.icone {
    border-top: 1px solid lightgray;
    background-color: #f6f6f6;
    .container2 {
        display: flex;
        > div {
            width: 25%;
            height: 70px;
            position: relative;
            border-left: 1px solid lightgray;
            &:last-child {
                border-right: 1px solid lightgray;
            }
            > span {
                position: relative;
                top: 15px;
                left: 15px;
                font-size: 12px;
                color: gray;
            }
            > img {
                height: 40px;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                filter: invert(50%);
            }
        }
    }
}
