.comics {
    background-color: black;
    color: white;
    .container {
        .current_series {
            background-color: #0282f9;
            padding: 15px 30px;
            display: inline-block;
            font-weight: 600;
            font-size: 20px;
            position: relative;
            transform: translateY(-50%);
        }
    }
}
